#Sbod{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Sbod h3{
    margin-top: 100px;
    text-align: center;
}
#Sbod p{
    width: 90%;
    margin: auto;
    text-align: center;
}
#Sbod p a{
    color: white; 
    text-decoration: underline;    
}