
#bod{
    position: relative;
    margin-top: 0;

    transition: margin-top .5s ease;
}
#rules{
    margin-top: 50px;
}
#rules #rulehead {
    font-weight: 700;
    margin-top: 150px;
    text-align: center;
}